body {
    margin: 0;
    background-color: #cfcfcf;
}

.container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 100px auto;
}

.box {
    width: 150px;
    height: 150px;
    position: absolute;
}

.green {
    background-color: green;
    top: 50px;
    left: 100px;
}

.blue {
    background-color: blue;
    top: 50px;
    left: 300px; 
}

.yellow {
    background-color: yellow;
    top: 150px;
    left: 180px;
    z-index: 2;
}

.red {
    background-color: red;
    top: 150px;
    left: 380px;
    z-index: 2;
}