body {
    margin: 0;
    background-color: #cfcfcf;
    font-family: Arial;
}

.container {
    width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 10px;
}

.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    display: block;
}

.img-box span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.info b {
    color: green;
}